Repository hmcts/ia-hearings-api, pull requests merged in 2023-06, with the labels that each got.

#109 RIA-7138 Review ia-hearings-api and pipeline setup
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-hearings-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-109

#117 Setup REST client in ia-hearings-api to connect to HMC(Part 2)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HearingRequestGenerator.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/CaseCategory.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HearingLocation.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HearingWindow.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HmcHearingRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HmcHearingResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/IndividualDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/OrganisationDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/PanelPreference.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/PanelRequirements.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/RelatedParty.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/RequirementType.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/UnavailabilityDayOfWeek.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/UnavailabilityRange.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/HearingController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/IdamServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-117

#124 RIA-7385 Removed exceedingly pedantic checkstyle rules
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-124

#125 RIA-7384 Enforce conventions on commit messages and branches
  .git-config/hooks/commit-msg
  .git-config/hooks/pre-commit
  .github/workflows/pr-title-validation.yml
  README.md
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-125
