Repository hmcts/ia-hearings-api, pull requests merged in 2023-11, with the labels that each got.

#216 RIA-8009 - Remove Title in Appellant Party for request message
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-216

#217 RIA-7792 Add field to WitnessDetails
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/WitnessDetails.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-217

#220 RIA-8020 Log message when received
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-220

#222 RIA-7668 - Update field
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-222

#224 RIA-8002 set hearing window for manual request message
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-224

#223 RIA-7446 - Set case category type and value for hearing request and update
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/AppealType.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseTypeValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-223

#214 RIA-7943 - Enable functional tests for hearings api
  Jenkinsfile_CNP
  build.gradle
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/EndAppealRequestSubmitHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/UpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/FunctionalSpringContext.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/IdamAuthProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/LaunchDarklyFunctionalTestClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/MapValueExpander.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/functionalTest/resources/templates/start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingRequestPayload.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-214

#227 RIA-8020 Prevent partiesNotifiedUpdate when needed info missing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ListAssistCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-227

#228 RIA-7918 set typeC facility for S94B hearing request and updates
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/Facilities.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-228

#230 RIA-7700 Booking statuses in otherReasonableAdjustmentsDetails
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/InterpreterBookingStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/InterpreterLanguagesUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-230

#229 RIA-7963 Update HMC when interpreter details event is triggered
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ReasonCodes.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-229

#232 RIA-7966 Update HMC when Update interpreter booking status is triggered
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-232

#231 RIA-7972 Write party details when updating hearing requests
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-231

#234 RIA-7823 Fix date range issue for update hearing request
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-234

#236 RIA-8002 set hearing window for manual request message
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-236

#238 RIA-7700 Infer index of witness elements
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-238

#237 RIA-8081 - Remove RIA-7819
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/UpdateHmcResponseEventHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/EndAppealRequestSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/UpdateHmcResponseEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-237

#240 RIA-7823 - fix for mandatory field listCaseHearingLength being removed
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-240

#239 RIA-7994 - Show meaningful error when attempting to update hearing wi…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparer.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-239

#242 RIA-7768 Update hearing list with new requirements
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparer.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-242

#247 RIA-7994 - add logs
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparer.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-247

#243 RIA-8082 refactoring for batch processing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/UnNotifiedHearingsResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ScheduledTaskRunner.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcUpdateDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessor.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ScheduledTaskRunnerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcUpdateDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-243

#244 RIA-8093 - Refactor respondent details in manual request and auto upd…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-244

#248 RIA-7768 change HEARING_CENTER to LIST_CASE_HEARING_CENTRE when adjournment a hearing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-248

#241 RIA-7836 FixRecordAdjournment submission.
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-241

#251 RIA-8082 Add chart and values for cron job
  charts/ia-cron-unnotified-hearings-processor/.helmignore
  charts/ia-cron-unnotified-hearings-processor/Chart.yaml
  charts/ia-cron-unnotified-hearings-processor/values.aat.template.yaml
  charts/ia-cron-unnotified-hearings-processor/values.preview.template.yaml
  charts/ia-cron-unnotified-hearings-processor/values.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-251

#252 RIA-8082 Enable processing of all messages temporarily
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-252
