Repository hmcts/ia-hearings-api, pull requests merged in 2023-10, with the labels that each got.

#168 RIA-7665 Fix hearings submit process adding organisational information and deleting individual information.
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-168

#182 DIAC-51 nightly fixes
  .github/workflows/pr-title-validation.yml
  Jenkinsfile_nightly
  audit.json
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/WelcomeTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-182

#183 DIAC-51 renovate automerge off after previous merge
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-183

#184 RIA-7668 - To display Respondent as an individual in the Hearings tab …
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-184

#194 RIA-7923 Updates to fix loading screen flow from classpath
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-194

#196 RIA-7793 Trigger event for Hmc exception to make WA task
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessorTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-196

#201 DIAC-000 Dependency fix
  audit.json
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-201

#192 RIA-7823 Create UpdateHearingRequest flow
  .gitignore
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingLength.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingChannel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingsGetResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/UpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparer.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/AsylumPreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/HearingDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/AsylumPreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/CaseHearingTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingLengthTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/HearingsDynamicListPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/AsylumPreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/AsylumPreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-192

#202 RIA-7951 Refactoring Service Hearing Values payload generation
  .gitignore
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/Attendees.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseCategoryDisplayModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseCategoryModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseDetailsHearing.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/Caseflags.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingLocationModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/JudiciaryModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/NavigationModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/OrganisationDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PanelComposition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PanelPreferenceModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PanelRequirementsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PartyFlagsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/RelatedPartiesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ScreenNavigationModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/UnavailabilityDayOfWeekModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/UnavailabilityRangeModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/VocabularyModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-202

#203 RIA-7823 Fix sla and fixDate bug
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-203

#205 RIA-7943 - Change to use the user token being passed in instead of system user t…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/config/SecurityConfiguration.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-205

#195 RIA-7744 - Automatically cancel hearing when appeal is ended
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingChannelTypeChangingRadioButton.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/EndAppealRequestSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/hmc/DeleteHearingRequest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingChannelTypeChangingRadioButtonTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/EndAppealRequestSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-195

#208 RIA-7617 Include sign language in party's reasonable adjustment list
  charts/ia-hearings-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-208

#210 RIA-7617 Fix typo in caseofficer role
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-210

#209 RIA-7904 - Inform user if hearing cannot be auto updated + refactor e…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/EndAppealRequestSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/EndAppealRequestSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-209

#207 RIA-7882 Trigger edit case listing event
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ListAssistCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/UpdateHmcResponseEventHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/UpdateHmcResponseEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-207

#212 RIA-7830 - trigger call to update hearing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-212
