Repository hmcts/ia-hearings-api, pull requests merged in 2023-08, with the labels that each got.

#140 RIA-7511 Populate manual request message using case flags
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  build.gradle
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  infrastructure/main.tf
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlagType.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/field/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/field/IdValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/field/YesOrNoTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/holidaydates/CountryHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/holidaydates/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/holidaydates/UkHolidayDatesTest.java
  web.config
Labels: ns:ia, prd:ia, add-or-update, rel:ia-hearings-api-pr-140

#145 RIA-7654 Include agreed hearing requests in manual request message
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/GrantedRefusedType.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/SingleSexType.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/ListingCommentsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/ListingCommentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-145

#143 RIA-7725 Solve suppressions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-143
