Repository hmcts/ia-hearings-api, pull requests merged in 2023-07, with the labels that each got.

#123 RIA-6395 terraform version upgrade 0.13.4 to 0.14.0
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-hearings-api-pr-123

#126 RIA-6395 terraform version upgrade 0.14.0 to 1.3.7
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ia, prd:ia, add-or-update, rel:ia-hearings-api-pr-126

#128 RIA-7378 - preventing application startup if secrets can't be found
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/ConfigValidatorAppListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/ConfigValidatorAppListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-128
