Repository hmcts/ia-hearings-api, pull requests merged in 2023-09, with the labels that each got.

#155 RIA-7702 - Interpreters are included as a party in the hearing request
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/InterpreterDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/InterpreterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/InterpreterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-155

#156 RIA-7753 Party ID field mapping in manual request
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/WitnessDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/SponsorDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/SponsorDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-156

#158 RIA-7860 hearings tab setup
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/HearingsController.java
  src/main/resources/application.yaml
  src/main/resources/screenFlowMinusPanel.json
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/resources/screenFlowTest.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-158

#157 RIA-7869 Allow unique identifying of flags based off witnesses
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/PartyFlagIdValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/PartyFlagIdValueTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-157

#160 RIA-7867 - Refactor HMC listener flow
  build.gradle
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  infrastructure/service-bus.tf
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/Application.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/Attendees.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseDetailsHearing.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingGetResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingRequestDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingSubChannel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HmcStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ListAssistCaseStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/message/HearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/message/HmcMessage.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/HearingDay.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/PartiesNotified.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/PartiesNotifiedResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/PartiesNotifiedResponses.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/PartiesNotifiedServiceData.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/config/jms/HmcTopicConnectionParams.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/exception/HmcEventProcessingException.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/exception/HmcException.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageDispatcher.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/handlers/MessageHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/TestUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/handlers/MessageHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-hearings-api-pr-160

#164 RIA-7617 Fix language and adjustment fields inside partyDetails
  .github/renovate.json
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-164

#165 RIA-7902 Clients and pact tests
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiPutConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/IdamApiConsumerTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-165

#169 RIA-7910 Updates to fix HMC topic subscription name
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-169

#173 RIA-7914 updates to expose service hearing values under root
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/controllers/HearingsController.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-173
