Repository hmcts/ia-hearings-api, pull requests merged in 2023-12, with the labels that each got.

#235 RIA-8005 Fix case flags issues with hearings and additional facilities
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-235

#249 RIA-8039 - Set case type for float hearings
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CaseTypeValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-249

#200 DIAC-002 updating Renovate schedule
  .github/renovate.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-200

#258 DIAC-002 Reverting versions and turning renovate automerge off
  .github/renovate.json
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-258

#259 RIA-8155 Added extra logging and changed HmcException
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/exception/HmcException.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-259

#254 RIA-7823 Add no date text when no date is selected
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-hearings-api-pr-254

#260 RIA-7776 Decision without hearing cases are manually listed
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-260

#256 RIA-7771 rename hearingRelistedUpdateReason.
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-256

#265 RIA-8155 CVE fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-265

#264 RIA-8040 Populate bail manual request
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCase.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/BailStrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/field/HasDocument.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/IaCcdConvertService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailStrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/field/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-264

#267 RIA-8082 Disable live processing of messages
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-267

#269 RIA-8087 Make ServiceHearingValuesProvider set judge roleType so it's…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-269

#271 RIA-8093 - Added respondent into the count of attendees
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-271

#272 RIA-8216 Updates to refactor hearing window model
  charts/ia-cron-unnotified-hearings-processor/.helmignore
  charts/ia-cron-unnotified-hearings-processor/Chart.yaml
  charts/ia-cron-unnotified-hearings-processor/values.aat.template.yaml
  charts/ia-cron-unnotified-hearings-processor/values.preview.template.yaml
  charts/ia-cron-unnotified-hearings-processor/values.yaml
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ReasonCodes.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessor.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingWindowModelTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-272

#270 RIA-8042 Populate bail party details
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCase.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/BailPartyFlagIdValue.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/BailStrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/ApplicantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailMapperUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/FinancialConditionSupporterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailStrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/BailPartyFlagIdValueTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/BailStrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/RespondentDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/ApplicantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailMapperUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/FinancialConditionSupporterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-270

#274 RIA-7799 Update cancellation reasons to use ref-data
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-274

#277 RIA-8042 update values
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/CustodyStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/ApplicantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-277

#278 RIA-8216 Updates to fix hearing window model serialization issue
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingWindowModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/HearingWindowModelTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-278

#280 RIA-7836 Rename hearings cancellation/update reasons
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-280

#281 RIA-8076 - Removed Hearing Channel logic from get hearing datetime and removed hearing time from Edit case listing trigger logic
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HandlerUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HandlerUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-281

#283 RIA-8242 - Interpreter language and comments are displayed against ca…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-283

#285 RIA-8111 Differentiate between appealScreenFlow and bailsScreenFlow
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/resources/appealsScreenFlow.json
  src/main/resources/application.yaml
  src/main/resources/bailsScreenFlow.json
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-285

#276 RIA-8006 Interpreter booking statuses added to other reasonable adjs
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/ApplicantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/FinancialConditionSupporterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/InterpreterLanguagesUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/ApplicantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/FinancialConditionSupporterDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-276

#286 RIA-8041 Populate Bails manual request message using case flags
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-286

#287 RIA-8112 updated sendBailDirection to sendUploadBailSummaryDirection
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailUploadSummaryDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailUploadSummaryDirectionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-287

#273 RIA-8159 CMR hearing can be requested at any time
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/IaCcdConvertService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/IaCcdConvertServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-273

#288 RIA-8092 Make hearingWindow have a start date 28 working days later
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-288

#275 RIA-7780 Handle DecideAnApplication event
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/DecideAnApplicationHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-275

#289 RIA-8346 Feature toggle for auto request
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-289

#291 RIA-8372 Populate different value for specific date in HearingWindow
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-291

#294 RIA-8379 Updates to fix hearing window date calculation issue
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-294

#293 RIA-8346 Enable auto hearing request only for locations set in launc…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationBasedFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationBasedFeatureTogglerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-293

#296 RIA-8040 RIA-8380 Updates to populate interpreter party details for bails
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailInterpreterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailInterpreterDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-296
