Repository hmcts/ia-hearings-api, pull requests merged in 2024-03, with the labels that each got.

#364 RIA-8730 Always set 'autoListFlag' to false for appeals hearings
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-364

#365 RIA-8741 Remove UPDATE_REQUESTED from hmcStatuses of hearings that qualify for an update
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/HearingsToDynamicListMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentDetailsPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/HearingsToDynamicListMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-365

#366 RIA-TASK VUL-5809 Upgrade serenity, restAssured, remove springHystrix reference
  build.gradle
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-366

#368 RIA-8760 Enable pact tests
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiPutConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-368

#367 RIA-8759 Bails - refactoring hearings api
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-367

#372 RIA-8808 Updates to convert hearings start time from UTC to local date time
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/HearingsToDynamicListMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessor.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-372

#373 RIA-8810 Update field 'listingHearingLength'
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-373

#371 RIA-8805 Fix issue with 'Hearing Location' initialisation during 'up…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-371

#370 RIA-8757 Use requestHearingDate1 (Date) instead of requestHearingDate
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-370

#374 RIA-8805 Fix issue with field type in 'updateHearingRequest' event
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-374
