Repository hmcts/ia-hearings-api, pull requests merged in 2024-07, with the labels that each got.

#438 RIA-9195 - fix for hmctsInternalCaseName not updating in the Auto update hearing request
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-438

#439 RIA-TASK - fix functional test
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-439

#440 RIA-8921 Set next hearing date when hearing is listed/edited
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ListEditCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ListEditCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-440

#441 RIA-8945 Set next hearing date when CMR hearing is listed/updated
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-441

#442 RIA-8921 Update case/admin officer roles' access to events
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-442

#443 RIA-8921 Update system user role's access to events
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-443

#444 RIA-8921 Prevent possible NullPointerException
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-444

#445 RIA-8921 Fix issue with user details when making calls to external s…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/NextHearingDateServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-445

#447 RIA-8936 Simulate HMC failure for 'updateHearingRequest' and 'record…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/HmcHearingApi.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-447

#450 RIA-9246 Updates to handle hearing channel for non-integrated cases
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-450

#451 RIA-9246 Updates to fix sonar issue
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-451

#452 RIA-9246 Get participantVersion from GIT_COMMIT env var
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiDeleteConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiGetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiUpdateConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcPartiesNotifiedApiUpdateConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/IacHearingApiGetConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-452

#453 RIA-9246 Edit listing fix for non integrated cases
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-453

#456 RIA-0000 Update to disable FT on UpdateHearingRequestFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/UpdateHearingRequestFunctionalTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-456

#449 RIA-8923 Next hearing date is set when substantive hearing is cancelled
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-449

#457 RIA-9256 Update to point functional tests to AAT
  Jenkinsfile_CNP
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/UpdateHearingRequestFunctionalTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-457

#455 RIA-8959 Set next hearing date when CMR hearing is cancelled
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CmrHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-455

#459 RIA-8947 Clear hearing details on case
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-459

#460 RIA-9262 Update eventid of 'Set next hearing date'
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingDateHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingDateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-460
