Repository hmcts/ia-hearings-api, pull requests merged in 2024-02, with the labels that each got.

#337 RIA-8491 quick fix the duration problem
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-337

#336 RIA-8593 Set time 9:45 / 10:00 based on real LA hearing venue even if remote
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-336

#340 RIA-8599 PF0015 in list of flags for Reasonable Adjustments in party details (Bails)
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-340

#341 RIA-8755 auto update is failing for remote hearing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingSubChannel.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-341

#338 RIA-8449 Auto create HMC hearing request when "Restore Appeal to previous state" event is completed
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/AutoRequestHearingFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/DecisionAndReasonsStartedFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/ListCaseWithoutHearingRequirementsFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoRequestHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecisionAndReasonsStartedHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ReviewHearingRequirementsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoRequestHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecisionAndReasonsStartedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ListCaseWithoutHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/ReviewHearingRequirementsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-338

#342 RIA-8601 Add all hearingSubChannel types to enum
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/HearingSubChannel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-342

#343 RIA-8449 Fix bug in AutorequestHandler's canHandle method
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoRequestHearingHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoRequestHearingHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-343

#345 RIA-8613 Updates to fix sequencing of handlers execution
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcUpdateDispatcher.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcUpdateDispatcherTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-345

#344 RIA-8608 hearing channel parties is not updating
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/InterpreterDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/SponsorDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/InterpreterDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/SponsorDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/WitnessDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-344

#348 RIA-8612 change hearing location to ref data in record adjournment details event
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-348

#349 RIA-8619 Change logic around the triggers for editCaseListing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-349

#350 RIA-8608 Populate LoV of hearing channel dynamic list
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-350

#352 RIA-8601 Populate LoV of locations when listCaseHearingCentre is remote
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-352

#351 RIA-8635 Revert changes made by RIA-8599
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LanguageAndAdjustmentsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-351

#353 RIA-8654 Fix issue with 'autoListFlag' setting
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-353

#357 RIA-8671 Make physical attendees null when no hearing channel
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ServiceHearingValuesModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/PayloadUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/PayloadUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-357

#356 RIA-8659 Read pageId for existing midEvent logic
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-356

#355 RIA-8632 Overwrite newly selected values onto originally requested values
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-355

#360 RIA-8669 Make hearing update not fail if no hearings present if not yet requested
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-360

#361 RIA-8659 Remove thrown exceptions if start or end date in date range missing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-361
