Repository hmcts/ia-hearings-api, pull requests merged in 2024-05, with the labels that each got.

#399 RIA-8795 - Assign hearing location epim id to refDataListingLocation if refdata is enabled
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-399

#400 RIA-8795 - sonar fix
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-400

#402 RIA-8942 - Fix Listing location not being displayed
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-402

#403 RIA-8951 - Convert listing datetime from UTC to local timezone
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessorTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-403

#404 RIA-8954 - Disable real time processing to test cancellation messages
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-404

#405 RIA-8943 Create CMR notification Work Allocation task only for speci…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-405

#407 RIA-8796 - Set listing location and whether hearing is remote when system triggers "List the case"
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-407

#408 RIA-8987 Ensure parties' hearing channels are populated during hearing update
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-408

#409 RIA-8943 Fix issue in the logic to compare 'PartiesNotifiedResponses'
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
  src/functionalTest/resources/templates/start-appeal.json
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-409

#410 RIA-8797 - Set listing location and whether hearing is remote when system triggers "Edit case listing"
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-410

#415 RIA-8797 - Refactored to use ccd field to determine appeals refdata enabled
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-415
