Repository hmcts/ia-hearings-api, pull requests merged in 2024-08, with the labels that each got.

#461 RIA-9385 Refactor logic to handle remote to remote hearing channel u…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-461

#458 RIA-9259 Refactor the code for handling listed hearings
  build.gradle
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-458

#465 DIAC-556 Update OWASP and gradle
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-465

#464 RIA-9267 Refactor existing CCD events to support next hearing date calculation
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CmrHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-464

#466 DIAC-590 update spring-security packages
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-466

#467 RIA-8923 Refactoring to address issue with handling hearing cancella…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingCancelledHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingEditedHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingListedHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingCancelledHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingEditedHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingListedHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-467

#468 RIA-9038 Cmr fix
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingInfoHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingInfoHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-468

#470 RIA-9485 Refactor handler for substantive hearing cancellation
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingCancelledHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingCancelledHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-470

#469 RIA-9476 Handle missing 'list case hearing date'
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveHearingEditedHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-469

#471 RIA-9485 Calculate next hearing date on hearing cancelled event
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingInfoHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/NextHearingInfoHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-471

#472 RIA-9485 Give admin and system roles access to 'hearingCancelled' event
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-472
