Repository hmcts/ia-hearings-api, pull requests merged in 2024-04, with the labels that each got.

#369 RIA-8760 Enable functional tests
  charts/ia-hearings-api/Chart.yaml
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/AutoRequestHearingFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/DecideAnApplicationHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/EndAppealRequestSubmitHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentDetailsPreparerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/UpdateHearingRequestFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/templates/start-appeal-aip.json
  src/functionalTest/resources/templates/start-appeal-legalrep.json
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-369

#376 RIA-8760 Fix failing pact tests
  .gitignore
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiAmendConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiGetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/HmcHearingApiPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/contractTest/resources/application.properties
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-376

#378 RIA-8733 - Include case flag date information in Bails manual hearing request payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/PartyFlagsModel.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-378

#380 RIA-8734 - Include case flag date information in Appeals manual hearing request payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-380

#382 RIA-8734 - Fix for datetime parse exception
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtils.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-382

#383 RIA-8757 fix firstDateTimeMustBe
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-383

#385 RIA-8832 Fix UpdateHearingRequest payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/CreateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/UpdateHearingRequest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-385

#375 RIA-8811 listingLength new field
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/HoursMinutes.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/HoursMinutesTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-375

#387 RIA-8821 Use hearingCentreRefData to populate caseManagementLocationCode in payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-387

#388 RIA-8841 Filter locations
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-388

#391 RIA-8795 - Set listing location and whether hearing is remote when system triggers Case Listing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-391

#392 RIA-8811 Change hearing duration value
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/HoursMinutes.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/HoursMinutesTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-392

#384 RIA-8830 core case data api pact tests
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/CoreCaseDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/CoreCaseDataGetCaseConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/LinkedCasesApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/StartEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/SubmitEventForCaseWorkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/util/CcdConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/ccd/util/PactDslBuilderForCaseDetailsList.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiAmendConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiConsumerTestBase.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiGetConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiPostConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/idam/IdamApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/json/case_data_map.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-384

#393 RIA-8795 - add logs
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-393

#395 RIA-8795 - adding more logs to debug
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-395

#394 RIA-8812 Enable real-time HMC hearing events handling
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/config/jms/HearingsJmsConfig.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-394

#396 RIA-8795 - Allow service user to get feature flag value when handling JMS
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/LaunchDarklyFeatureTogglerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-396

#397 RIA-8795 - add logs
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-397
