Repository hmcts/ia-hearings-api, pull requests merged in 2024-06, with the labels that each got.

#420 RIA-TASK - Fix pact failure
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/hmc/HmcHearingApiGetConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-420

#422 DIAC-401 Update chart version
  charts/ia-hearings-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-422

#418 RIA-8954 - enable real time message processing
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/DecideAnApplicationHandlerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-418

#424 RIA-8859 Refactor manual request creation for decision without heari…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/utils/HearingsUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-424

#425 RIA-9115 - Fix for latest case details not being assigned to update hearing payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-425

#426 RIA-9127 - For appellant pass either mobile or email based on contact preference to hearing payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ContactPreference.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-426

#427 RIA-9115 - assign latest values to hearing details in update hearing payload
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/AppellantDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-427

#429 RIA-TASK - Remove unneeded changes
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/CcdCaseCreationTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-429

#434 RIA-9146 - Fix for HMC failed validation when (non null) empty hearing window object is passed in payload
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-434

#435 RIA-9146 - add logs for investigation
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandler.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-435

#436 RIA-9146 - Fix HMC response not found error
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SendServiceDataToHmcHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/TestUtils.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-436

#430 RIA-9110 - Add bails functional test
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/AutoRequestHearingFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/CcdCaseCreationTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/HearingsControllerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/RecordAdjournmentUpdateRequestHandlerFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/util/IdamAuthProvider.java
  src/functionalTest/resources/templates/minimal-appeal-started.json
  src/functionalTest/resources/templates/minimal-appeal-submitted.json
  src/functionalTest/resources/templates/start-appeal.json
  src/functionalTest/resources/templates/start-bail-legalrep.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-430

#437 RIA-TASK - Fix for when hearing is updated hearing linked flag returns false as the field was cleared
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-437

#431 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/stale.yml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-431
