Repository hmcts/ia-hearings-api, pull requests merged in 2024-01, with the labels that each got.

#299 RIA-8397 Made manualCanHearingRequired set to NO when deletion successful
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecideAnApplicationHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/DecideAnApplicationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-299

#300 RIA-8390 RIA-8046 Updates to fix case level flags being shown as undefined
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/bail/BailCaseFlagsToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-300

#301 RIA-8401 Address issue with 'Edit case listing' event
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AdjournmentDetail.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditCaseListingAfterAdjournmentHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditCaseListingAfterAdjournmentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-301

#302 RIA-8407 Make cftOrganisationID be localAuthorityPolicy.organisation.…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/Organisation.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-302

#303 RIA-8388 - Refactored to trigger CMR Listed or CMR Updated tasks base…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-303

#304 RIA-8407 Default to empty string if localAuthorityPolicy null
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-304

#309 RIA-8354 HearingExceptionHandler should not handle the HMC Exception…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ServiceDataFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessor.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/HearingExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessorTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-309

#312 RIA-8432 RIA-8433 tweak legal rep party
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ChangeOrganisationRequest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtils.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/LegalRepOrgDetailsMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/MapperUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/PartyDetailsMapperTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-312

#306 RIA-7636 - WA task to review interpreter details when case is auto up…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CoreCaseDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-306

#308 RIA-8418 Update hmc-hearing when record an Adjourn details relisting immediately
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingRequestSubmit.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateHearingsRequestSubmitTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-308

#314 RIA-7636 - Fixed incorrect statuses for Cancelled hearings
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/ListingStatus.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/SubstantiveListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-314

#315 RIA-8314 Skipping Hearing Linking question
  src/main/resources/bailsScreenFlow.json
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-315

#311 RIA-8436 Refactor Edit case listing - HMC response processing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AdjournmentDetail.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailUploadSummaryDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditCaseListingAfterAdjournmentHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditCaseListingAfterAdjournmentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-311

#318 RIA-7636 - Removed listing status filter for cancelled hearing handle…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-318

#319 RIA-7636 - Added logs for debugging
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/UnNotifiedHearingsProcessor.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-319

#317 RIA-8419 Process listed on-papers hearings
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/DecisionWithoutHearingListed.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/DecisionWithoutHearingListedTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-317

#320 RIA-8035 - Removed listing status check for CMR and added logs for de…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-320

#313 RIA-7987 Auto create HMC hearing request when 'Review hearing requirements' event is completed
  src/functionalTest/java/uk/gov/hmcts/reform/iahearingsapi/ListCaseWithoutHearingRequirementsFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoCreateHearingRequestHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoCreateHearingRequestHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-313

#321 RIA-8356 added handler for initial bail case listing
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/bail/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-321

#322 RIA-8357 case listing update
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/hmc/response/PartiesNotifiedResponse.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-322

#323 RIA-8419 Trigger DecisionWithoutHearingListed if no partiesNotified present
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/DecisionWithoutHearingListed.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/DecisionWithoutHearingListedTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-323

#325 RIA-8425 Trigger 'Edit case listing' event when substantive hearing …
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-325

#324 RIA-8028 - Auto create HMC hearing request when Start decision and re…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoCreateHearingRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/AutoCreateHearingRequestHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-324

#326 RIA-8424 Update the ServiceHearingValuesProvider to include the panel…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-326

#328 RIA-8013 - Allow override of Auto-list flag before auto requesting he…
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-328

#329 RIA-8515 Code change to handle bails hearing cancellation
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandler.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseUpdateHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-329

#332 RIA-8363 - Set whether hearing is linked
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProvider.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseDataToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadServiceTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/ServiceHearingValuesProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-332

#333 RIA-8552 - Fix to prevent handlers being triggered from the outcome of another handler
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcUpdateDispatcher.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-333

#334 RIA-8491 Fix service code parameter name
  src/contractTest/java/uk/gov/hmcts/reform/iahearingsapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/presubmit/RecordAdjournmentUpdateRequestHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/clients/refdata/LocationRefDataApi.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-334

#335 RIA-8491 fix the problem of missing return HearingWindowModel object
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-335
