Repository hmcts/ia-hearings-api, pull requests merged in 2025-05, with the labels that each got.

#493 SNI-7502 - deployment id only for preview not other environments
  .github/workflows/ci.yml
  charts/ia-hearings-api/values.preview.template.yaml
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-493

#495 SNI-7482 - update CaseDeepLink for LA on updating hearing request
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-495

#494 DIAC-1145 Fix HMC message format exception
  .github/workflows/pr-title-validation.yml
  charts/ia-hearings-api/Chart.yaml
  charts/ia-hearings-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListener.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/listeners/HmcHearingsEventTopicListenerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-hearings-api-pr-494

#496 SNI-7482 Fix CaseDeepLink on update hearing request
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/CreateHearingPayloadService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadService.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/UpdateHearingPayloadServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-496
