Repository hmcts/ia-hearings-api, pull requests merged in 2025-03, with the labels that each got.

#483 DIAC-652 Diac 863 diac 652 adding hearing
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/AsylumCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCmrHandler.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/service/HearingService.java
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/infrastructure/hmc/HmcMessageProcessor.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/BailListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/CancelledHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListCaseHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/ListedHearingServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-483

#490 DIAC-000 - update dependencycheck from 10.0.3 to 12.1.0
  build.gradle
  charts/ia-hearings-api/Chart.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-hearings-api-pr-490

#489 DIAC-656 Added DECISION state to EditListCaseHandler
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/handlers/servicedatahandlers/EditListCaseHandler.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-hearings-api-pr-489

#488 DIAC-629 - update Reporting Restriction Apply
  src/main/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapper.java
  src/test/java/uk/gov/hmcts/reform/iahearingsapi/domain/mappers/CaseFlagsToServiceHearingValuesMapperTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-hearings-api-pr-488
